* {
    box-sizing: border-box;
}
html {
    background-color: lightgrey;
}
input:invalid {
    border: 4px solid red;
}
input:valid {
    border: 4px solid green;
}
.spanStylesKhaki, .spanStylesLightGreen, .spanStylesCoral {
    border-radius: 3px;
    padding: 5px;
}
.spanStylesKhaki {
    background-color: khaki;
}
.spanStylesLightGreen {
    background-color: lightgreen;
}
.spanStylesCoral {
    background-color: coral;
}

/* Class that will be applied to the <button>s that 'decrease' a particular image-related CSS property (height, width, blur, brightness, contrast, inversion, opacity, sepia): */

.decrease {
    width: 9%;
    height: 75px !important;
    color: red;
    float: left;
    position: absolute;
    left: 0;
    font-size: 30px;
}

/* Class that will be applied to the <button>s that 'increase' a particular image-related CSS property (height, width, blur, brightness, contrast, inversion, opacity, sepia) */

.increase {
    width: 9%;
    height: 75px !important;
    color: green;
    float: right;
    position: absolute;
    right: 0;
    font-size: 30px;
}

/* Centre aligns the textual content of all <button>s: */

button {
    text-align: center;
}

/* Adds a one-pixel blur effect to the 'blur' image-editing <label>: */

.blur1 {
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

/* Sets the second half of the 'brightness' image-editing <label> to 50% brightness: */

.brightness50 {
    color: #0c10af;
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
}

/* Sets the first half of the 'brightness' image-editing <label> to 200% brightness: */

.brightness200 {
    color: #0c10af;
    filter: brightness(200%);
    -webkit-filter: brightness(200%);
}

/* Sets the first half of the 'contrast' image-editing <label> to 50% contrast: */

.contrast50 {
    filter: contrast(50%);
    -webkit-filter: contrast(50%);
}

/* Sets the second half of the 'contrast' image-editing <label> to 150% contrast: */

.contrast150 {
    filter: contrast(150%);
    -webkit-filter: contrast(150%);
}

/* Sets the 'invert' image-editing <label> to 100% colour inversion [i.e. white text on a black background]: */

.invert100 {
    color: black;
    background-color: white;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

/* Sets the 'opacity' image-editing <label> to 60% opacity: */

.opacity60 {
    background-color: coral;
    filter: opacity(60%);
    -webkit-filter: opacity(60%);
}

/* Sets the 'sepia' image-editing <label> to 100% sepia effect: */

.sepia100 {
    background-color: coral;
    filter: sepia(100%);
    -webkit-filter: sepia(100%);
}


/* Audio component styling */
.audioContainer {
    width: 99%;
    margin: 5px auto;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    border-radius: 3px;
}
.musicHeading {
    font-size: 34px;
    width: 99%;
    margin: 10px auto;
    background-color: coral;
    text-align: center;
    border-radius: 3px;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    font-weight: bold;
}
.audioControls {
    border: 2px solid black;
    border-radius: 3px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #800000;
}
.musicPlayer {
    display: none;
    height: 0;
}
.audio1, .audio2, .audio3, .audio4, .audio5 {
    width: 18%;
    margin: 1px;
    height: 100px;
    font-weight: bold;
    text-align: center;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    font-size: 1.25em;
}
.audio5 {
    background-color: lightgreen;
    padding: 20px;
}
.play, .volumeUp {
    color: green;
    font-size: 2em;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
}
.stop, .volumeDown {
    color: red;
    font-size: 2em;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
}
.progress {
    background-color: #800000;
    color: black;
    font-weight: bold;
    width: 100%;
}
.musicalProgress {
    width: 99%;
    display: block;
    margin: 2px auto;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
}
.percentage {
    text-align: center;
    background-color: #800000;
    color: white;
    font-size: 20px;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
}
.musicCredit {
    text-align: center;
    background-color: #800000;
    color: white;
    font-size: 20px;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
}
.appHeading {
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    background-color: black;
    color: white;
    font-size: 36px;
    text-align: center;
    width: 99%;
    border-radius: 3px;
    margin: 10px auto;
}
.missionOverview {
    width: 100%;
}
.missionDescription {
    width: 99%;
    margin: 5px auto;
    font-size: 30px;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    text-align: center;
    background-color: #EDBB99;
    border-radius: 3px;
}
.slideshowFigure {
    display: block;
    position: relative;
    margin: 10px;
}
.martianUrl2 {
    position: absolute;
    top: 20px;
    width: 100%;
    background-color: darkslateblue;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    word-break: break-all;
}
.mars {
    width: 100%;
    height: 650px;
}
.photoDescription {
    font-size: 26px;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    color: black;
    font-weight: bold;
    text-align: center;
    background-color: coral;
}
.roverButton {
    width: 99%;
    background-color: darkslateblue;
    border-radius: 3px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 30px;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    margin: 4px auto;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.roverButton:hover {
    color: coral;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.textCredit {
    font-size: 26px;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    text-align: center;
    background-color: #741630;
    color: white;
    padding: 10px;
    width: 99%;
    border-radius: 3px;
    margin: 10px auto;
}
.pageTraversal {
    height: 80px;
    margin: 10px auto;
    width: 99%;
    border: 1px solid #741630;
    border-radius: 3px;
    background-color: coral;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
.loadingMessage {
    font-weight: bold;
    font-size: 20px;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    margin-left: auto;
    margin-right: auto;
}
.desiredSol {
    font-size: 24px;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    height: 70px;
    width: 48%;
    border-radius: 3px;
}
.navigateToSol {
    font-size: 24px;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    height: 70px;
    width: 48%;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
}
.positiveFeedback {
    text-align: center;
    font-size: 20px;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    font-weight: bold;
    color: black;
    background-color: #91bc3c;
}
.negativeFeedback {
    text-align: center;
    font-size: 20px;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    font-weight: bold;
    color: black;
    background-color: lightcoral;
}
.solLinkContainer {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.solLink, .introReturn {
    height: 500px;
    width: 320px;
    border-radius: 3px;
    border: 2px groove lightslategrey;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    background-color: lightblue;
}
.solRepresentative, .introReturnRepresentative {
    width: 300px;
    height: 300px;
    border-radius: 3px;
    transition: height, width 0.4s;
}
.solRepresentative:hover, .introReturnRepresentative:hover {
    cursor: pointer;
    height: 100%;
    width: 100%;
}
.solRepresentative:hover + .solStats, .introReturnRepresentative:hover + .introReturnMessage {
    display: none;
}
.solStats, .introReturnMessage {
    text-align: center;
    font-size: 22px;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    font-weight: bold;
    border-radius: 3px;
    padding: 3px;
}
.anchorStyles {
    font-size: 22px;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    color: red;
    transition: color 0.4s;
}
.anchorStyles:hover {
    color: darkblue;
}
.fitContent {
    height: fit-content;
    width: fit-content;
}
.cameraAbbreviations {
    height: 500px;
    width: 320px;
    border-radius: 3px;
    border: 2px ridge lightslategrey;
    text-align: center;
    margin: 10px;
    background-color: lightblue;
    font-size: 22px;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    font-weight: bold;
    padding: 40px 5px;
}
.martianRed {
    color: red;
}
.marsTableRow {
    background-color: #FF5435;
    width: 99%;
    border-radius: 3px;
    margin: 5px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 160px;
}
.marsTableHeader {
    width: 24%;
    display: inline-flex;
    flex-flow: column wrap;
    border-radius: 3px;
    height: 150px;
    justify-content: center;
    align-items: center;
}
.fullscreenBtn {
    height: 70px;
    border-radius: 3px;
    font-size: 26px;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    text-align: center;
    font-weight: bold;
}
.centered {
    font-size: 26px;
    text-align: center;
    background-color: coral;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    width: 90%;
    margin: 5px auto;
    border-radius: 3px;
    font-weight: bold;
}
.fiftyPerCentWidth {
    width: 49%;
}
.martianHeading {
    text-align: center;
    background-color: orange;
    font-size: 36px;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    width: 90%;
    border-radius: 3px;
    font-weight: bold;
}
.slideSelect {
    font-size: 26px;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    background-color: coral;
    font-weight: bold;
    width: 95%;
}
.slideInput {
    height: 70px;
    font-size: 24px;
    width: 95%;
    font-weight: bold;
}
.marsTableCell {
    background-color:#cc1e2c;
    width: 99%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    border-radius: 3px;
}
.photoDescription {
    font-size: 26px;
    text-align: center;
    background-color: coral;
    font-weight: bold;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
}
#imageCell {
    width: 99%;
    margin: 5px auto;
    background-color: darkslateblue;
    position: relative;
    border-radius: 3px;
    height: fit-content;
}
.martianUrl {
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    width: 99%;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: darkslateblue;
    word-break: break-all;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    padding: 5px;
    left: 0.5%;
}
.mars2 {
    width: 100%;
    border-radius: 3px;
}
.previousButton, .nextButton {
    position: absolute;
    top: 35%;
    color: white;
    background-color: black;
    width: 20%;
    height: 30%;
    opacity: 0.4;
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
    transition: background-color 0.75s;
}
.previousButton:hover, .nextButton:hover {
    background-color: salmon;
}
.previousButton {
    left: 2px;
}
.nextButton {
    right: 2px;
}
#responsiveDiv {
    width: 100%;
    border-radius: 3px;
    min-height: 300px;
}
a {
    color: white;
    transition: color 0.5s;
}
a:hover {
    cursor: pointer;
    color: salmon;
}
.controlsHeading, .camerasHeading {
    font-size: 32px;
    width: fit-content;
    background-color: coral;
    text-align: center;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}
.editingDiv {
    width: 100%;
    border-radius: 3px;
    background-color: coral;
}
.labelPara {
    font-weight: bold;
    height: 35px;
    min-height: 35px;
    text-align: center;
    font-size: 20px;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    line-height: 35px;
    transition-property: background-color, border, border-radius, padding;
    transition-duration: 0.25s;
}
.labelPara:hover {
    cursor: pointer;
    background-color: darksalmon;
    border: 1px solid black;
    border-radius: 3px;
    height: 41px;
    padding: 2px;
}
.sliderContainer {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-evenly;
    margin: 2px auto;
    border: 1px dotted black;
    position: relative;
}
#widthRange, #heightRange, #blurRange, #brightnessRange, #contrastRange, #invertRange, #opacityRange, #sepiaRange {
    width: 80%;
}
.camerasFilter {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: coral;
    height: fit-content;
    width: 99%;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}
.camerasFilterForm {
    text-align: center;
}
.camerasLabel {
    font-weight: bold;
    font-size: 24px;
    padding: 0 10px;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
}
.camerasCheckbox {
    height: 24px;
    width: 24px;
    margin-left: 10px;
}
.camerasFilterInput {
    font-size: 24px;
    width: 99%;
    text-align: center;
    margin: 10px;
    font-weight: bold;
    color: black;
    background-color: lightgrey;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
}
.camerasFilterInput:hover {
    background-color: darkslateblue;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: 2px double black;
}

/* Attempt at using media queries to provide a responsive design across mobile devices, tablets, laptops, and desktops: */

/* For mobile phones whose screen is less than 600px wide: */

@media only screen and (max-width: 600px) {
    .musicHeading {font-size: 28px;}
    p.overview {font-size: 24px;}
    .martianUrl2 {font-size: 14px;}
    .photoDescription {font-size: 20px;}
    .roverButton {font-size: 24px;}
    .textCredit {font-size: 20px;}
    .loadingMessage {font-size: 14px;}
    .desiredSol {font-size: 18px; height: 40px;}
    .navigateToSol {font-size: 18px; height: 40px;}
    .titleReturn {font-size: 20px;}
    .fullscreenBtn {height: 60px; font-size: 16px;}
    .martianHeading {font-size: 30px;}
    .martianUrl {font-size: 14px;}
    .controlsHeading, .camerasHeading {font-size: 26px; letter-spacing: 1px;}
    .timingInfo {font-size: 20px;}
    .slideSelect {font-size: 20px;}
    .slideInput {height: 40px; font-size:18px;}
    .pageTraversal {height: 50px; font-size: 20px;}
    button + p.centered {font-size: 16px; padding: 2px;}
    .nextButton, .previousButton { font-size: 24px; }
}

/* Small devices (portrait tablets and large phones, 600px and up): */

@media only screen and (min-width: 600px) {
    .musicHeading {font-size: 30px;}
    p.overview {font-size: 26px;}
    .martianUrl2 {font-size: 16px;}
    .photoDescription {font-size: 22px;}
    .roverButton {font-size: 26px;}
    .textCredit {font-size: 22px;}
    .loadingMessage {font-size: 16px;}
    .desiredSol {font-size: 20px; height: 50px;}
    .navigateToSol {font-size: 20px; height: 50px;}
    .titleReturn {font-size: 22px;}
    .fullscreenBtn {height: 60px; font-size: 18px;}
    .martianHeading {font-size: 32px;}
    .slideSelect {font-size: 22px;}
    .martianUrl {font-size: 16px;}
    .controlsHeading, .camerasHeading {font-size: 28px; letter-spacing: 1px;}
    .timingInfo {font-size: 22px;}
    .slideInput {height: 50px; font-size:20px;}
    .pageTraversal {height: 60px;}
    button + p.centered {font-size: 18px; padding: 2px; }
    .nextButton, .previousButton { font-size: 26px;}
}

/* Medium devices (landscape tablets, 768px and up): */

@media only screen and (min-width: 768px) {
    .musicHeading {font-size: 32px;}
    p.overview {font-size: 28px;}
    .martianUrl2 {font-size: 18px;}
    .photoDescription {font-size: 24px;}
    .roverButton {font-size: 28px;}
    .textCredit {font-size: 24px;}
    .loadingMessage {font-size: 18px;}
    .desiredSol {font-size: 22px; height: 60px;}
    .navigateToSol {font-size: 22px; height: 60px;}
    .titleReturn {font-size: 24px;}
    .fullscreenBtn {height: 60px; font-size: 24px;}
    .martianHeading {font-size: 34px;}
    .slideSelect {font-size: 24px;}
    .martianUrl {font-size: 18px;}
    .controlsHeading, .camerasHeading {font-size: 30px; letter-spacing: 1px;}
    .timingInfo {font-size: 24px;}
    .slideInput {height: 60px; font-size: 22px;}
    .solSelection > span.centred {font-size: 24px;}
    .pageTraversal {height: 70px;}
    button + p.centered {font-size: 20px; padding: 2px;}
    .nextButton, .previousButton { font-size: 28px;}
}

/* Large devices (laptops/desktops, 992px and up): */

@media only screen and (min-width: 992px) {
    .musicHeading {font-size: 34px;}
    p.overview {font-size: 30px;}
    .martianUrl2 {font-size: 20px;}
    .photoDescription {font-size: 26px;}
    .roverButton {font-size: 30px;}
    .textCredit {font-size: 26px;}
    .desiredSol {font-size: 24px; height: 70px;}
    .loadingMessage {font-size: 20px;}
    .navigateToSol {font-size: 24px; height: 70px;}
    .titleReturn {font-size: 26px;}
    .fullscreenBtn {height: 70px; font-size: 26px;}
    .martianHeading {font-size: 36px;}
    .slideSelect {font-size: 26px;}
    .martianUrl {font-size: 20px;}
    .controlsHeading, .camerasHeading {font-size: 32px;}
    .timingInfo {font-size: 26px;}
    .slideInput {height: 70px; font-size: 24px;}
    .pageTraversal {height: 80px;}
    button + p.centered {font-size: 22px; padding: 2px;}
}

/* End of media queries */