* {
    box-sizing: border-box;
}
html {
    background-color: lightgrey;
}
.toastStyles {
    font-size: 1.75em;
    --toastify-font-family: serif;
    text-align: center;
}
.headerStyles, .footerStyles {
    height: 200px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    width: 99%;
    border-radius: 5px;
    background: radial-gradient(#451804, #C1140E, #E77D11, #FDA600);
    margin: 10px auto;
}
.footerStyles {
    margin-top: 30px;
}
.headerNavStyles {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.headerNavUlStyles {
    margin: 0;
    display: inline-flex;
    justify-content: space-evenly;
    width: 99%;
    flex-wrap: wrap;
    padding-left: 0;
}
.headerNavUlLiStyles {
    display: inline-flex;
    font-family: 'Zilla Slab', serif;
    font-size: 1.5em;
    margin: 10px 0 0 0;
    padding: 0 10px;
}
.footerParaStyles {
    font-family: 'Zilla Slab', serif;
    font-size: 1.5em;
}
.headerNavUlLiLinkStyles, .footerParaStyles {
    border: 5px solid #F0E7E7;
    border-radius: 5px;
    padding: 5px;
    color: black;
    background-color: khaki;
    font-weight: bold;
    transition: font-weight, font-size, 1s;
}
.headerNavUlLiLinkStyles:hover {
    font-weight: bold;
    font-size: 1.25em;
}
.registerStyles, .loginStyles, .bodyStyles {
    background-color: lightgrey;
    padding: 5px;
}
h1 {
    font-family: 'Titillium Web', sans-serif;
    margin: 20px;
}
h2, h3, h4, h5, h6 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 2px;
    margin: 20px;
}
li, p {
    font-family: 'Zilla Slab', serif;
}
input:invalid {
    border: 4px solid red;
}
input:valid {
    border: 4px solid green;
}
.inputStyles {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    border-radius: 5px;
    font-family: 'Zilla Slab', cursive;
    font-size: 1.25em;
    border-color: #91BC3C;
    border-width: 4px;
}
.labelStyles {
    position: relative;
    left: 5%;
    font-family: 'Zilla Slab', cursive;
    font-size: 1.25em;
    font-weight: bold;
}
.linkStyles {
    font-size: 2em;
    color: blue;
}
.paraStyles {
    text-align: center;
    font-weight: bold;
    font-size: 1.25em;
}
.spanStylesKhaki, .spanStylesLightGreen, .spanStylesCoral {
    border-radius: 3px;
    padding: 5px;
}
.spanStylesKhaki {
    background-color: khaki;
}
.spanStylesLightGreen {
    background-color: lightgreen;
}
.spanStylesCoral {
    background-color: coral;
}
.h1Styles, .h2Styles, .h4Styles {
    font-weight: bold;
    text-align: center;
}
.productH1Styles, .dashboardH2Styles {
    width: 49%;
    text-align: center;
    background-color: coral;
    font-weight: bold;
    padding: 10px 0;
    margin-right: 5px;
    margin-bottom: 0;
    font-size: 1.75em;
    margin-top: 0;
    border-radius: 3px;
    word-break: break-all;
}
.dashboardH2Styles {
    background-color: khaki;
}
.h2Styles {
    background-color: lightgreen;
    border-radius: 10px;
}
.addButton {
    margin-right: 5px;
    font-weight: bold;
}
.deleteButton, .editButton, .logoutButton, .closeButton {
    font-weight: bold;
}
.logoutButton {
    color: black;
    background-color: khaki;
    border-radius: 5px;
    border: 5px solid #F0E7E7;
    font-family: 'Zilla Slab', serif;
    padding: 5px;
    font-size: 1.125em;
}
.logoutButton:hover {
    background-color: lightblue;
}
.thStyles {
    font-size: 1.25em;
}
.tdStyles {
    font-family: 'Zilla Slab', cursive;
    font-size: 21px;
}

.productImages {
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 1000px;
}

.productImage {
    margin-top: 10px;
    width: 100%;
}

.figStyles {
    margin: 10px;
    width: 300px;
    height: 660px;
    border: 5px solid #24310C;
    border-radius: 5px;
}

.productFigStyles {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #24310C;
    border-radius: 5px;
}

.figImgStyles {
    height: 450px;
    width: 300px;
}

.productFigImgStyles {
    width: 100%;
}

.figFigCaptionStyles {
    height: 185px;
    border-top: 2px solid #24310C;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    background-color: lightgreen;
    font-size: 1.125em;
}

.productFigFigcaptionStyles {
    height: 250px;
    border-top: 2px solid #24310C;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    background-color: lightgreen;
    font-size: 1.75em;
    display: flex;
    justify-content: center;
    font-style: italic;
}

.figSpanStyles {
    background-color: khaki;
    width: 100%;
    display: block;
    border-radius: 5px;
    font-size: 1.125em;
}

.productFigSpanStyles {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1em;
    font-family: 'Zilla Slab', serif;
}

.productsHeaderStyles, .dashboardHeaderStyles {
    display: flex;
    margin: 5px auto;
    justify-content: space-evenly;
    width: 95%;
}
.cartLinkStyles {
    width: 49%;
    font-family: 'Zilla Slab', serif;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    background-image: url('../../images/shopping_cart_icon.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color, font-size 1s;
    border-radius: 3px;
}
.cartLinkStyles:hover {
    background-color: khaki;
    font-size: 2.5em;
}
.addToCart {
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
}
.addToCartPrice {
    width: 32%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: coral;
    font-weight: bold;
    font-size: 1.4em;
    font-family: 'Zilla Slab', serif;
    height: 100px;
    margin: 2px;
}
.addToCartButton {
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: khaki;
    font-weight: bold;
    font-size: 1.75em;
    font-family: 'Zilla Slab', serif;
    height: 210px;
    transition: color, font-size 1s;
}
.addToCartButton:hover {
    background-color: green;
    font-size: 2em;
}
.addToCartQuantity {
    width: 32%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    background-color: coral;
    font-weight: bold;
    font-size: 1.4em;
    font-family: 'Zilla Slab', serif;
    height: 100px;
    margin: -100px 2px;
}
.cartHeaderStyles {
    margin: 10px auto;
    font-weight: bold;
    background-color: coral;
    text-align: center;
    width: 90%;
}
.cartItemStyles {
    position: relative;
    width: 310px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    border-radius: 5px;
    border: 5px solid #24310C;
    margin: 5px;
}
.cartImages {
    width: 300px;
    height: 450px;
    margin: auto;
    opacity: 75%;
}
.cartProductName {
    position: absolute;
    width: 90%;
    left: 5%;
    top: 200px;
    font-weight: bold;
    color: black;
    background-color: white;
    text-align: center;
}
.cartItemDetails {
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
    background-color: khaki;
    width: 300px;
    height: 150px;
    line-height: 150px;
    font-size: 1.25em;
}
.cartDeleteButton {
    height: 150px;
    border-radius: 3px;
    background-color: orangered;
    color: black;
    font-weight: bold;
    text-align: center;
    transition: font-size 1s;
}
.cartUpdateQuantityInput {
    height: 75px;
    text-align: center;
}
.cartUpdateQuantityButton {
    height: 75px;
    color: black;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    background-color: lightgreen;
    transition: font-size 1s;
}
.cartDeleteButton:hover, .cartUpdateQuantityButton:hover {
    font-size: 1.5em;
}
.cartEmptyPara, .retrievingCartStyles {
    font-weight: bold;
    color: black;
    background-color: coral;
    text-align: center;
    font-size: 2em;
    width: 90%;
    margin: 5px auto;
}
.cartTotalStyles, .addressDetailsStyles, .proceedToPayment {
    width: 95%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    background-color: coral;
    color: black;
    font-weight: bold;
    height: 100px;
    border-radius: 3px;
    font-size: 1.5em;
}
.addressDetailsStyles {
    height: fit-content;
    overflow: hidden;
    padding: 5px;
}
.toggleOrderHistory, .toggleAddress, .toggleWishlist {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: black;
    margin: 10px auto;
    background-color: coral;
    border-radius: 3px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.75em;
    letter-spacing: 3px;
    height: 100px;
}
.orderHistoryBorder, .orderOverviewBorder, .cartOverviewBorder {
    border: 3px dotted black;
    padding: 5px;
    width: 95%;
    margin: 10px auto;
}
.orderHistoryCaption, .cartOverviewCaption {
    font-weight: bold;
    font-size: 1.5em;
    width: 90%;
    text-align: center;
    background-color: lightgreen;
    margin: 10px auto;
}
.orderHistoryList, .cartItemisation {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.orderHistoryItems, .cartItems {
    width: 320px;
    font-size: 1.25em;
    margin: 10px;
}
.noOrderHistory {
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Zilla Slab', serif;
    text-align: center;
    width: 90%;
    margin: 10px auto;
    background-color: khaki;
}
.deliveryAddress {
    display: block;
    width: 90%;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    background-color: khaki;
    border-radius: 3px;
    padding: 3px;
}
.addressLi {
    list-style-type: none;
}
.addressSpecifics {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.addressLabel {
    font-weight: bold;
    font-size: 1.25em;
    margin: 10px;
    font-family: 'Zilla Slab', serif;
}
.updateAddress, .addToWishlist, .checkoutButton {
    display: block;
    font-weight: bold;
    font-size: 1.5em;
    background-color: lightgreen;
    border-radius: 3px;
    width: 90%;
    margin: 10px auto;
    min-height: 100px;
    transition: color, background-color, font-size 1s;
}
.updateAddress:hover, .addToWishlist:hover, .checkoutButton:hover {
    color: white;
    background-color: black;
    font-size: 1.75em;
}
.emailAndCheckout {
    text-align: center;
}
.successDiv, .failureDiv {
    display: flex;
    justify-items: center;
    flex-flow: column wrap;
}
.successH1, .successPara, .failureH1, .failurePara {
    text-align: center;
}
.successPara, .failurePara {
    font-size: 1.5em;
}
.transactionTotalPara {
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
    width: fit-content;
    padding: 10px;
    font-size: 1.5em;
    background-color: khaki;
    border-radius: 2px;
}
.canceledEmptyTrolley {
    display: block;
    width: 90%;
    margin: 10px auto;
}
@media only screen and (max-width: 600px) {
    .dashboardH2Styles {
        font-size: 1.35em;
        letter-spacing: 2px;
        height: fit-content;
    }
    .addToCartPrice, .addToCartQuantity {
        width: 44%;
    }
    .addToCartButton {
        width: 54%;
    }
    .productFigFigcaptionStyles {
        font-size: 1.35em;
        padding: 10px;
        height: fit-content;
    }
}
/* Audio component styling */
.audioContainer {
    width: 99%;
    margin: 5px auto;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    border-radius: 3px;
}
.musicHeading {
    font-size: 34px;
    width: 99%;
    margin: 10px auto;
    background-color: coral;
    text-align: center;
    border-radius: 3px;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    font-weight: bold;
}
.audioControls {
    border: 2px solid black;
    border-radius: 3px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #800000;
}
.musicPlayer {
    display: none;
    height: 0;
}
.audio1, .audio2, .audio3, .audio4, .audio5 {
    width: 18%;
    margin: 1px;
    height: 100px;
    font-weight: bold;
    text-align: center;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    font-size: 1.25em;
}
.audio5 {
    background-color: lightgreen;
    padding: 20px;
}
.play, .volumeUp {
    color: green;
    font-size: 2em;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
}
.stop, .volumeDown {
    color: red;
    font-size: 2em;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
}
.progress {
    background-color: #800000;
    color: black;
    font-weight: bold;
    width: 100%;
}
.musicalProgress {
    width: 99%;
    display: block;
    margin: 2px auto;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
}
.percentage {
    text-align: center;
    background-color: #800000;
    color: white;
    font-size: 20px;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
}
.musicCredit {
    text-align: center;
    background-color: #800000;
    color: white;
    font-size: 20px;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
}
.appHeading {
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    background-color: black;
    color: white;
    font-size: 36px;
    text-align: center;
    width: 99%;
    border-radius: 3px;
    margin: 10px auto;
}
.missionOverview {
    width: 100%;
}
.missionDescription {
    width: 99%;
    margin: 5px auto;
    font-size: 30px;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    text-align: center;
    background-color: #EDBB99;
    border-radius: 3px;
}
.slideshowFigure {
    display: block;
    position: relative;
    margin: 10px;
}
.martianUrl2 {
    position: absolute;
    top: 20px;
    width: 100%;
    background-color: darkslateblue;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    word-break: break-all;
}
.mars {
    width: 100%;
    height: 650px;
}
.photoDescription {
    font-size: 26px;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    color: black;
    font-weight: bold;
    text-align: center;
    background-color: coral;
}
.roverButton {
    width: 99%;
    background-color: darkslateblue;
    border-radius: 3px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 30px;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    margin: 4px auto;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.roverButton:hover {
    color: coral;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.textCredit {
    font-size: 26px;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    text-align: center;
    background-color: #741630;
    color: white;
    padding: 10px;
    width: 99%;
    border-radius: 3px;
    margin: 10px auto;
}
.pageTraversal {
    height: 80px;
    margin: 10px auto;
    width: 99%;
    border: 1px solid #741630;
    border-radius: 3px;
    background-color: coral;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
.desiredSol {
    font-size: 24px;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    height: 70px;
    width: 48%;
    border-radius: 3px;
}
.navigateToSol {
    font-size: 24px;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    height: 70px;
    width: 48%;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
}
.positiveFeedback {
    text-align: center;
    font-size: 20px;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    font-weight: bold;
    color: black;
    background-color: #91bc3c;
}
.negativeFeedback {
    text-align: center;
    font-size: 20px;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    font-weight: bold;
    color: black;
    background-color: lightcoral;
}
.solLinkContainer {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.solLink {
    height: 500px;
    width: 320px;
    border-radius: 3px;
    border: 2px groove lightslategrey;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    background-color: lightblue;
}
.solRepresentative {
    width: 300px;
    height: 300px;
    border-radius: 3px;
    transition: height, width 0.4s;
}
.solRepresentative:hover {
    cursor: pointer;
    height: 100%;
    width: 100%;
}
.solRepresentative:hover + .solStats {
    display: none;
}
.solStats {
    text-align: center;
    font-size: 22px;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    font-weight: bold;
    border-radius: 3px;
    padding: 3px;
}
.anchorStyles {
    font-size: 22px;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    color: red;
    transition: color 0.4s;
}
.anchorStyles:hover {
    color: darkblue;
}
.fitContent {
    height: fit-content;
    width: fit-content;
}
.cameraAbbreviations {
    height: 500px;
    width: 320px;
    border-radius: 3px;
    border: 2px ridge lightslategrey;
    text-align: center;
    margin: 10px;
    background-color: lightblue;
    font-size: 22px;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    font-weight: bold;
    padding: 40px 5px;
}
.martianRed {
    color: red;
}